{% extends 'base.html' %}

{% block content %}

<!-- <a href="{{url_for('create')}} ">Scrap sanalmarket</a> -->

 <div class="jumbotron">
  <h1 class="display-4">Welcome to the Sanal Market price fluctuation!</h1>
  <p class="lead">You can load market price daily,search by category.Follow product and see price changes by graphics!</p>
  <hr class="my-4">
     <p><b>PRIZ DEVELOPMENT TEAM</b></p>
      <p>Berrak CELIK Product Owner</p>
      <p>Ersin CAYLA Scrum Master</p>
      <p>Huseyin UZTETIK Development Team</p>
      <p>Isa KARAKUS Development Team</p>
      <p>Sibel ONAT Stack Holder</p>
 </div>

<footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Priz Development Team 2018</span>
            </div>
          </div>
        </footer>


{% endblock%}
