{% extends 'base.html' %}

{% block content %}

<!-- <a href="{{url_for('create')}} ">Scrap sanalmarket</a> -->

 <div class="jumbotron">
  <h1 class="display-4">Sanal Market fiyat dalgalanmasına hoş geldiniz!</h1>
  <p class="lead">Günlük piyasa fiyatını yükleyebilir, kategoriye göre arayabilirsiniz. Ürünü takip edin ve fiyat değişikliklerini grafiklerle görün!</p>
  <hr class="my-4">
     <p><b>PRIZ TAKIMI</b></p>
      <p>Berrak CELIK Ürün Sahibi</p>
      <p>Ersin CAYLA Scrum Master</p>
      <p>Huseyin UZTETIK Geliştirme Takımı</p>
      <p>Isa KARAKUS Geliştirme Takımı</p>
      <p>Sibel ONAT Paydaş</p>
 </div>

<footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Priz Development Team 2018</span>
            </div>
          </div>
        </footer>


{% endblock%}
