{% extends 'base.html' %}

{% block content %}

<form action="">
    <div class="container-fluid">

        <div class="row" class ="col-md-12">


            <div class="form-group row col-md-12">
                <label for="retailerName">Retailer Name</label>
                <select class="form-control" id="retailerName">
                    <option selected>Choose...</option>
                    <option>Sanal Market</option>
                </select>
            </div>

            <div class="form-group row col-md-12">
                <label for="category" >Main Category</label>
                <select class="form-control" onchange="showProducts(this.value)" id="category">
                    <option selected>Choose...</option>
                    {% for category in categories %}
                    <option>{{ category }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-auto row col-md-12">
                <button type="submit" class="btn btn-primary mb-2" onclick="showMessage()">Query</button>
            </div>

            <div class="row col-md-12">
                <h1>Priz Line Bar Graph</h1>
            </div>


            <div class="row col-md-12">
                <!-- bar chart canvas element -->
                <canvas id="chart" width="600" height="400"></canvas>
            </div>
        </div>

    </div>

</form>

<br>

<div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Tables</li>
          </ol>

          <!-- DataTables Example -->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Products</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                  <thead class="thead-light">
                    <tr>
                      <th>Barcode</th>
                      <th>Name</th>
                      <th>Price</th>
                      <th>Before Promo Price</th>
                      <th>Last Modified Datetime</th>
                        <th></th>
                        <th></th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Barcode</th>
                      <th>Name</th>
                      <th>Price</th>
                      <th>Before Promo Price</th>
                      <th>Last Modified Datetime</th>
                        <th></th>
                        <th></th>
                    </tr>
                  </tfoot>
                  <tbody id="productTable" name="productTable">
				  {% for product in productlist %}
                    <tr>
                       <td>{{ product['barcode'] }}</td>
					   <td>{{ product['name'] }}</td>
					   <td>{{ product['lastPrice'] }}
                         <span class="simge-tl">&#8378;</span>
                       </td>
					   <td>{{ product['PromoPrice'] }}
                         <span class="simge-tl">&#8378;</span>
                       </td>
					   <td>{{ product['lastModifiedTime'].strftime("%d %m %Y %H:%M") }}</td>
                        <td>
                            <input type="submit"  class="btn btn-success" value="Bar Chart" name="barchart" onclick="location.href='/chart/{{product['barcode']}}';">
                        </td>
                        <td>
                            <input type="submit" class="btn btn-danger"  value="Line Chart" name="linechart" onclick="location.href='/linechart/{{product['barcode']}}';">
                        </td>

                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>

          <p class="small text-center text-muted my-5">
            <em>More market examples coming soon...</em>
          </p>

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Priz Development Team 2018</span>
            </div>
          </div>
        </footer>

      </div>

<div id="txtHint">Customer info will be listed here...</div>

<script>


function showProducts(str) {

  var xhttp;
  if (str == "") {
    document.getElementById("txtHint").innerHTML = "";
    return;
  }
  xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {

    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("txtHint").innerHTML = this.responseText;
      var productlist = JSON.parse(this.responseText);

      var tableRef = document.getElementById('productTable');

      for (i in productlist["products"])
      {
      //document.write(productlist["products"][i].barcode);

      // Insert a row in the table at the last row
      var newRow   = tableRef.insertRow(0);


      // Insert a cell in the row at index 0
      var barcodeCell  = newRow.insertCell(0);
      // Append a text node to the cell
      barcodeCell.appendChild(document.createTextNode( productlist["products"][i].barcode));

      var nameCell  = newRow.insertCell(1);
      nameCell.appendChild(document.createTextNode( productlist["products"][i].name));

      var lastPriceCell  = newRow.insertCell(2);
      lastPriceCell.appendChild(document.createTextNode(productlist["products"][i].lastPrice) );

      var promotionPriceCell  = newRow.insertCell(3);
      promotionPriceCell.appendChild(document.createTextNode( productlist["products"][i].PromoPrice));

      var lastModifiedTimeCell  = newRow.insertCell(4);
      lastModifiedTimeCell.appendChild(document.createTextNode( productlist["products"][i].lastModifiedTime));
      }
    }
  };

  xhttp.open("GET", "productlist/"+str, true);

  xhttp.send();
}

var pickedup;

  $(document).ready(function() {
    $( "#sourcetable tbody tr" ).on( "click", function( event ) {

          // get back to where it was before if it was selected :
          if (pickedup != null) {
              pickedup.css( "background-color", "#ffccff" );
          }

          $("#fillname").val($(this).find("td").eq(1).html());
          $( this ).css( "background-color", "red" );

          pickedup = $( this );
    });
});
</script>


{% endblock%}
